@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-family: 'Play', sans-serif;
}

body {
  background-color: #181320;
}

.menu {
  width: 100vw;
  height: 100px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eb1958;
  box-shadow: 1px 1px 20px 1px #eb1958;
}

.menu li {
  font-size: 1.2em;
  display: inline;
  letter-spacing: 1.1px; /* Espaçamento entre as letras */
}

#referencia {
  background: linear-gradient(90deg, #eb1958, #dada00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu a {
  padding: 0 50px;
}

.menu a:hover {
  background: linear-gradient(90deg, #eb1958, #dada00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.left-contato {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#foto-contato {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.5s;
}

.left-contato img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card-contato h1 {
  background: linear-gradient(90deg, #eb1958, #dada00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redes {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

}

.redes img {
  width: 45px;
  height: 45px;

}

.redes li {
  margin: 0 10px;
}

.right-contato {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-contato input, label, textarea {
  background-color: #2a243a;
}

.card-contato {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2a243a;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 1px #eb1958;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}

.textfield label {
  margin-bottom: 10px;
}

.textfield input, textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background: #353046;
  box-shadow: 0px 10px 25px #0000007a;
  outline: none;
  resize: none;
}

.textfield textarea::placeholder {
  color: #c2c2c2;
}

.textfield input::placeholder {
  color: #c2c2c2;
}

.btn {
  width: 100%;
  padding: 10px 0px;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #eb1958;
  cursor: pointer;
  box-shadow: 0px 10px 25px #0000006e;
  background: linear-gradient(90deg, #eb1958, #dada00);
  background-clip: text;
}

.btn:hover {
  box-shadow: 0px 0px 5px #ee1a61e8;
}
